<header class="jumbotron subhead">
    <div class="container">
        <div class="row header-contents">
            <ul class="nav nav-pills pull-right">
                <li class="{% if page == 'home' %}active{% endif %}">
                    <a href="{% url home %}"><i class="icon-home"></i> Home</a>
                </li>
                <li class="{% if page == 'sessions' %}active{% endif %}">
                    <a href="{% url conference_event 2013 %}"><i class="icon-calendar"></i> Sessions</a>
                </li>
                <li class="{% if page == 'speakers' %}active{% endif %}">
                <a href="{% url conference_speakers %}"><i class="icon-bullhorn"></i> Speakers</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
            <h3>Resistance Ecology: <span class="muted">Conference</span></h3>
        </div>
        <div class="pull-right conference-date">
            <span class="label label-info">June 1 - 3, 2013 in Portland, OR</span>
        </div>
    </div>
</header>
