<header class="jumbotron subhead">
    <div class="container">
        <div class="row header-contents">
            {% include "_user_nav.html" %}
            {% include "_nav.html" %}
            {% comment %}
            <h1>RE<span class="muted">CON</span></h1>
            {% endcomment %}
            <h1><img src="{{STATIC_URL}}img/recon.png"></h1>
        </div>
        {% if next_event %}
        <div class="pull-right conference-date">
            <span class="label label-info"><i class="icon-star"></i> {{next_event.start|date:"N jS"}} - {{next_event.end|date:"N jS"}} in Portland, OR <i class="icon-star"></i></span>
        </div>
        {% endif %}
    </div>
</header>
