<!doctype html>
<html>
    <head>
        <title>
            {% block site_title %}
                Resistance Ecology: Conference - 
                {% block page_title %} 2013{% endblock page_title %}
            {% endblock site_title %}
        </title>

        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock meta %}

        {% block css %}
            <!-- bootstrap -->
            <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
            <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
            <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
            <link href="{{STATIC_URL}}css/core.css" rel="stylesheet">
        {% endblock css %}

        {% block head %}
        {% endblock head %}

    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include "_header.html" %}
            {% endblock header %}

            <div class="container container-main">
            {% block content %}
            {% endblock content %}
            </div>

            {% block footer %}
                {% include "_footer.html" %}
            {% endblock footer %}

            {% block body_js %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
            {% endblock body_js %}
        {% endblock body %}
        {% include "_analytics.html" %}
    </body>
</html>
