{% load markup %}
<h3>News</h3>
<div id="news">
{% for post in news %}
<div class="article">
    <h4><a href="{% url 'news_view_post' post.pk %}">{{post.title}}</a> <small>{{post.created_at}}</small></h4>
    <p>{{post.content|markdown}}</p>
    {% if post.tags.count > 0 %}
    <div class="tags">
        <i class="icon-tag"></i>
        {% for tag in post.tags.all %}
        <span class="label label-info"><a href="{% url 'news_list_by_tag' tag.slug %}">{{tag.name}}</a></span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% empty %}
No news yet!
{% endfor %}
