<div class="social">
    <a href="https://www.facebook.com/pages/Resistance-Ecology-Conference-2013/321538337965792"><i class="icon-facebook-sign"></i></a>
    <a href="https://twitter.com/resistanceeco"><i class="icon-twitter-sign"></i></a>
</div>
{% if news.count > 0 %}
<div class="page-header">
    <h4>Latest News</h4>
</div>
{% for post in news %}
    <p><i class="icon-file-alt"></i> <a href="{% url news_view_post post.pk %}">{{ post.title }}</a></p>
{% empty %}
    <p>Nothin' yet.</p>
{% endfor %}
{% endif %}
