{% extends "base.html" %}
{% load markup %}

{% block css %}{{block.super}}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{STATIC_URL}}conference/css/map.css" />
{% endblock css %}

{% block body_js %}
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script>
    var map = L.map('map').setView([45.5236, -122.6750], 16);
    L.tileLayer('http://{s}.tile.cloudmade.com/8b9e53c586bb4155ac590bd5ccf46bc1/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 20
    }).addTo(map);
</script>
{% endblock body_js %}

{% block content %}
<div class="row">
        <div class="span6">
            <div id='map'></div>
        </div>
        <div class="span6">
            Home!
        </div>
</div>
    <hr>
<div class="row">
    <div class="span12">
        <h3>News</h3>
        <div id="news">
        {% for post in news %}
        <div class="article">
            <h4>{{post.title}} <small>{{post.created_at}}</small></h4>
            <p>{{post.content|markdown:"safe"}}</p>
            {% if post.tags.count > 0 %}
            <div class="tags">
                <i class="icon-tag"></i>
                {% for tag in post.tags.all %}
                <span class="label label-info">{{tag.name}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
