{% extends "base.html" %}
{% load markup %}

{% block css %}{{block.super}}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{STATIC_URL}}conference/css/map.css" />
{% endblock css %}

{% block body_js %}{{block.super}}
{% include "conference/_map_js.html" %}
{% endblock body_js %}

{% block content %}
<div class="row">
        <div class="span6">
            <div id='map'></div>
        </div>
        <div class="span6">
            {{home_page.content|markdown:"safe"}}
        </div>
</div>
    <hr>
<div class="row">
    <div class="span12">
        {% include "conference/_news.html" %}
    </div>
</div>
{% endblock content %}
