{% extends "base.html" %}
{% load markup %}

{% block css %}{{block.super}}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{STATIC_URL}}conference/css/map.css" />
{% endblock css %}

{% block body_js %}{{block.super}}
{% include "conference/_map_js.html" %}
{% endblock body_js %}

{% block content %}
<div class="row">
        <div class="span6">
            <div id='map'></div>
        </div>
        <div class="span6">
            {{home_page.content|markdown:"safe"}}
        </div>
</div>
    <hr>
<div class="row">
    <div class="span12">
        <h3>News</h3>
        <div id="news">
        {% for post in news %}
        <div class="article">
            <h4><a href="{% url news_view_post post.pk %}">{{post.title}}</a> <small>{{post.created_at}}</small></h4>
            <p>{{post.content|markdown:"safe"}}</p>
            {% if post.tags.count > 0 %}
            <div class="tags">
                <i class="icon-tag"></i>
                {% for tag in post.tags.all %}
                <span class="label label-info">{{tag.name}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
