{% extends "conference/base.html" %}
{% load markup %}

{% block title %}Speakers{% endblock %}

{% block event-content %}
<div class="row">
    <div class="span9">
        <div class="page-header">
            <h2>
                Speakers
            </h2>
        </div>
        <div class="speakers">
        {% for speaker in speakers %}
            <div class="row speaker">
                <div class="span9">
                    <h3><i class="icon-user"></i> <a href="{% url conference_speaker speaker.pk %}">{{speaker.full_name}}</a></h3>
                    {% if speaker.image %}
                    <img class="pull-left" src="{{speaker.image_thumbnail.url}}">
                    {% endif %}
                    <p>{{speaker.bio|markdown}}</p>
                    {% if speaker.tags.exists %}
                    <p>
                        <i class="icon-tag"></i>
                        {% for tag in speaker.tags.all %}
                            <span class="label label-info">{{tag.name}}</span>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% empty %}
            <p>No speakers have been added yet!</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
