header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 70px;
}

.header-contents .nav {
    margin-top: 10px;
}

.conference-date {
    margin-bottom: 10px;
}

.container-main{
    min-height: 650px;
}

.sidebar {
    margin-top: 20px;
}

.social {
    font-size: 40px;
}

#map {
    height: 400px;
}

footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}
