header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 50px;
}

.header-contents .nav {
    margin-top: 10px;
}

.conference-date {
    margin-bottom: 10px;
}

.container-main{
    min-height: 650px;
}

.sidebar {
    margin-top: 20px;
}

.social {
    font-size: 40px;
}

#map {
    height: 450px;
}

.sessions {
    border: 1px solid #DDD;
    padding: 10px;
}

.session {
}

.session-description {
    text-align: justify;
}

.short-schedule-toggle {
    cursor: pointer;
}

.speaker img {
    margin-right: 8px;
}

.speaker .bio {
    text-align: justify;
}

.nav-user {
    border-left: 1px solid #E5E5E5;
}

.nav-user > li {
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
}

.nav-user > li > a{
    display: inline;
}


footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}
